@import "tailwindcss";

.section_1 video {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
}

.footer {
  color: red;
}

@media (max-width: 768px) {
  .section_1 video {
    max-width: 100%;
  }
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .section_1 video {
    max-width: 100%;
  }
  .footer {
    font-size: 12px;
  }
}
